body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.title{
    font-size: 25px;
}
.color{
    background-color: #abd5ef;
    width: 80%;
    margin-left: 10%;
}
.category{
    margin-left: 10%;
}

